*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
androidApp/build
androidApp/google-services.json
androidApp/src/main/res/values/secrets.xml
androidApp/upload-keystore.jks
keystore.properties